.input {
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-4xl);
    border: none;
    outline: none;
    background-color: var(--input);
    color: var(--foreground);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}

.input--transparent {
    background-color: transparent;
    border: 1px solid var(--border);
}

.input--danger {
    border: 1px solid var(--destructive);
}

.input__password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--border);
    background-color: transparent;

    input {
        width: 100%;
        height: 100%;
        outline: none;
    }
}

.input__password__button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
