.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--foreground);
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: var(--primary-foreground);
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    border-radius: 0.5rem;
}

.btn--transparent {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    color: var(--foreground);
}
