.wishlist__title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    padding-top: var(--spacing-xl);
}

.wishlist-empty {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.wishlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--spacing-md);
}

.wishlist-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--card);
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    max-width: 350px;
}

.wish-list-heart {
    position: absolute;
    top: var(--spacing-lg);
    right: var(--spacing-lg);
    background-color: var(--card);
    border-radius: var(--radius-round);

    .wish-list-heart__form {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
    }
    svg {
        fill: var(--text);
    }
}

.wishlist-card__image {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: var(--radius-md);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius-md);
    }
}

.wishlist-card__content {
    margin-block: var(--spacing-sm);
}
